.git
.github
.vscode
.idea
build
build-*
cmake-build-*
dist
*.o
*.a
*.so
*.dylib
*.dSYM
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
docs
Todo.md
README.md
SECURITY.md
LICENSE
systemd
scripts
helm
k8s
