# SysGuardd baseline policy format
# deny_executable=/absolute/path/to/bin
# deny_prefix=/absolute/path/prefix/

deny_executable=/bin/bash
deny_executable=/bin/sh
deny_prefix=/tmp/
deny_prefix=/dev/shm/
